@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-title {
    background-color: black;
}

.ui-menu-color-home {
    background-color: black;
}

.ui-menu-color-services {
    background-color: black;
}

.ui-menu-color-gallery {
    background-color: black;
}

.ui-menu-color-contact {
    background-color: black;
}


/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
    background-color: black;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: grey;
    height: 120px;
}

/* ----------------------------------------Footer */

footer {
    background-color: black;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.logo-holder-footer {
    height: 80px;
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 54px;
    height: 54px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* ------------------------------Gallery */

#photos {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}

#photos img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:  10px;
  margin-right: 10px;
}

@media screen and (max-width:800px) {
  #photos {
    column-count: 2;
  }
}

/* ------------------------------Homepage */

.hero-image {
  height: 600px;
  width: 100%;
  background: url(../images/heroimage.jpg) no-repeat center center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from {
    transform: scale(1.7);
  }
  to {
    transform: scale(1.9);
  }
}

.hero-text {
  font-size: 130%;
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;
  
  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(105, 104, 104, 0.7);

  bottom: 50px;
  right: 200px;

  position: absolute;
}

.porch-image {
    background: url(../images/porch_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}