@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-title {
    background-color: black;
}

.ui-menu-color-home {
    background-color: black;
}

.ui-menu-color-services {
    background-color: black;
}

.ui-menu-color-gallery {
    background-color: black;
}

.ui-menu-color-contact {
    background-color: black;
}

.bg-color-contact {
    background-color: #ffffff;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
    background-color: black;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: grey;
    height: 120px;
}

/* ----------------------------------------Footer */

footer {
    background-color: black;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.logo-holder-footer {
    height: 80px;
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 54px;
    height: 54px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* ------------------------------Gallery */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* ------------------------------Homepage */

.hero-image {
  margin: 25px;
  width: 100%;
  height: 550px;
  background: url(../images/kitchen4.jpg) no-repeat center center;
  background-size: cover;
  border: 5px solid black;
}

.hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero-text {
  font-size: 130%;
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 90%;
  height: 90%;
  
  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(105, 104, 104, 0.7);
}

.porch-image {
    background: url(../images/porch_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------Contact Form*/

.contactform {
    border: solid black 5px;
    border-radius: 25px;
    background-color: #8f8f8f;
    margin: 10px;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/*--------------------------------------------Contact Form*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
    color: black;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: black;
}

/*----------------------------Our Services */

hr {
    height: 8px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

.service-bathroom-img {
    background: url(../images/bathroom1.jpg) no-repeat center center;
    width: 90%;
    height: 320px;
    background-size: cover;
}

.service-kitchen-img {
    background: url(../images/ann_kitchen.jpg) no-repeat center center;
    width: 90%;
    height: 320px;
    background-size: cover;
}

.service-wardrobe-img {
    background: url(../images/wardrobe.jpg) no-repeat center center;
    width: 90%;
    height: 320px;
    background-size: cover;
}

.service-loft-img {
    background: url(../images/loft.jpg) no-repeat center center;
    width: 90%;
    height: 320px;
    background-size: cover;
}

.service-driveway-img {
    background: url(../images/decking1.jpg) no-repeat center center;
    width: 90%;
    height: 320px;
    background-size: cover;
}

.service-upvc-img {
    background: url(../images/upvc.jpg) no-repeat center center;
    width: 90%;
    height: 320px;
    background-size: cover;
}

.about-img {
    border: solid black 5px;
}

.about-text {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    border: solid black 5px;
}

.about-text h3 {
    text-decoration: underline;
}

